@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
html {
  background: #202020;
}

body {
  background-size: cover;
  background-position: center center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .greeting {
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;

  margin-bottom: 20px;
}

.clock {
  font-size: 2.5rem;
  color: #bbbdbd;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 22px;
  color: white;
  border-bottom: 2px solid white;
}
input::placeholder {
  color: #fdfdfd;
  opacity: 0.7;
}

input:focus,
input:active {
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  margin-top: 50px;
}
li {
  text-align: center;
}
button {
  background-color: transparent !important;
  background-image: none !important;

  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.weather__img {
  width: 30px;
  height: 30px;
  -webkit-filter: opacity(0.6) drop-shadow(0 0 0 white);
  filter: opacity(0.6) drop-shadow(0 0 0 white);
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
.todo__text {
  font-size: 1rem;
}

.todo__title {
  font-size: 1rem;
  text-align: center;
  opacity: 0.7;
}

.greetings {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #7e7c7c, #ffffff, #8b8585);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(46, 44, 44, 0);
}

span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.7s ease infinite alternate;
  font-size: 1.2rem;
  color: #c7c5c5;
  text-shadow: 0 1px 0 #7e7c7c, 0 2px 0 #7e7c7c, 0 3px 0 #7e7c7c,
    0 4px 0 #7e7c7c, 0 5px 0 #7e7c7c, 0 6px 0 #7e7c7c, 0 7px 0 transparent,
    0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6);
}
.weather {
  position: absolute;
  font-style: italic;
  font-size: 0.75rem;
  position: absolute;
  top: 25px;
  right: 25px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0#7e7c7c, 0 2px 0 #7e7c7c 3px 0 #7e7c7c, 0 4px 0 #7e7c7c,
      0 5px 0 #7e7c7c, 0 6px 0 #7e7c7c 0 7px 0 #7e7c7ccc, 0 8px 0 transparent,
      0 9px 0 transparent, 0 50px 25px rgba(0, 0, 0, 0.4);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
